{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}<p></p>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Login</h1>
    <p class="lead"> Please login to get all our features !!</p><hr>
    {% if form.errors %}
      <p>Your username and password did'nt match, please try again.</p>
    {% endif %}
    <form method="POST" class="form-group">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-block btn-primary">Login</button>
    </form>
    <a href="{% url 'accounts:signup' %}" class="btn btn-simple">Don't have an account? Sign Up <i class="fas fa-user-plus"></i></a>
  </div>
</div>
{% endblock %}
