{% extends "posts/post_base.html" %}
{% load staticfiles %}
{% block content %}<p></p>
<div class="jumbotron">
  <div class="content">
		{% if user.is_authenticated %}
		<h1 class="display-4">Hello, <a href="{% url 'posts:for_user' username=user.username %}">{{user.username }}</a>
    </h1>
    {% endif %}

	</div>

    {% if user.is_authenticated %}
      <p class="lead">Welcome to the Groups Page! Select a Group with a shared interest!</p>
      <a class="btn btn-success my-20 my-sm-0 ml-2" href="{% url 'posts:create' %}" class="btn btn-simple">Create Post</a>
      <a class="btn btn-warning my-20 my-sm-0 ml-2" href="{% url 'groups:all' %}" class="btn btn-simple">View All Groups</a>
      <a class="btn btn-primary my-20 my-sm-0 ml-2" href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a>
    {% else %}

    <h1 class="display-4">Please Login !!</h1>
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a>

    {% endif %}
  </div>

{% load humanize %}
{% block post_content %}
<div class="col-md-8">
  {% for post in post_list %}
  {% include "posts/_post.html" %}
  {% endfor %}
</div>
{% endblock %}
{% endblock %}
