{% extends "base.html" %}
{% load staticfiles %}
{% block content %}<p></p>

<div class="jumbotron">
  <div class="col-md-12">
    <h1 class="display-4">Write us a message!!</h1><hr>
    {% if message %}
    <div class="alert alert-success" role="alert">
      Thank you for your feedback!!
    </div>
    {% endif %}
    <form action="{% url 'nursesApp:contactus' %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-primary" name="submit" value="Submit">
    </form>
    <p></p>

    <h1 class="w3-xxlarge">Find us on Google map!!</h1>
    <div class="map-responsive">
     <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}
