{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Here's the list of the member!</h1>
  {% if messages %}
  {% for message in message %}
  <div>
    <strong>{{message|safe}}</strong>
  </div>
  {% endfor %}
  {% else %}
  {{order}}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Upload a file</label>
    <input type="file" name="file">
    <p>Only accept CSV File</p>
    <button type="submit"> Upload </button>
  </form>
  </div>
  {% endif %}
{% endblock%}
